:root {
  --mar-header: rgb(44, 62, 80);
  --mar-1main: rgb(26, 188, 156);
  --mar-1footer: rgb(58, 84, 109);
  --mar-2footer: #2c3e50;
}
/*--------nav---------- */
nav {
  background-color: var(--mar-header);
  height: 80px;
}

.bg_mar_1main {
  background-color: var(--mar-1main);
  color: white;
}
.cv {
  padding: 2rem;
}
img {
  max-width: 100%;
  padding: 1rem;
  border-radius: 2rem;
}
.column img {
  width: 350px;
  height: 255px;
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  flex-wrap: inherit;
  justify-content: space-evenly;
  display: flex;
}
.navbar-brand {
  margin-right: 12rem;
  text-align: right;
}

li {
  list-style: none;
  display: inline-block;
  padding: 1rem;
}

/*----------------------------end---nav---------- */
/* start ----------------------ABOUT section */
.row-about {
  padding: 5rem;
}
.fa-download {
  padding-right: 0.5rem;
}
.testo-dati,
.button {
  text-align: start;
}
.btn_about {
  margin-top: 2rem;
}
.button {
  border-top: 1px solid rgb(183, 189, 196);
  margin-top: 4rem;
  margin-bottom: 3rem;
  padding-top: 1rem;
}
/* end -------------------------about section */

/* start ----------------------contact me section */

.contact-text {
  margin-top: 2rem;
}

/* endc --------------------contact me section */

/* start----------------- app_footer */
#app_footer {
  color: white;
}
.p-3 {
  padding: 5rem !important;
}
.bg_mar_1footer {
  background-color: var(--mar-1footer);
}
.mt-20 {
  margin-top: 20 !important;
}
.footer-top {
  padding-top: 2rem;
}
.footer_bottom {
  height: 60px;
}

.social {
  display: flex;
  justify-content: center;
}
.fa {
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  text-align: center;
  margin: 0.5rem;
}

.fa-facebook,
.fa-google,
.fa-twitter,
.fa-instagram {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.block {
  font-size: x-small;
  background-color: var(--mar-2footer);
}
/* end -------------------app_footer */
