:root {
  --mar-header: rgb(44, 62, 80);
  --mar-1main: rgb(26, 188, 156);
  --mar-1footer: rgb(58, 84, 109);
  --mar-2footer: #2c3e50;
}
/*---------header---------- */
#app_header {
  background-color: var(--mar-header);
  height: 100px;
  color: white;
}
.col-8 {
  text-align: center;
  line-height: 5rem;
}
.col-4 {
  text-align: left;
  font-size: x-small;
  line-height: 5rem;
}
/*-----end----header---------- */
.cv-curriculum {
  display: inline-block;
  white-space: nowrap;
}
.first-main {
  background-color: var(--mar-1main);
  color: white;
}

.cv {
  padding: 2rem;
}
img {
  max-width: 100%;
  padding: 1rem;
  border-radius: 2rem;
}
.column img {
  width: 350px;
  height: 255px;
}

/* start about section */
.linee-star > span {
  width: 5rem;
  color: white;
}
.row-about {
  background-color: var(--mar-1main);
  color: white;
  padding: 5rem;
}
.fa-download {
  padding-right: 0.5rem;
}
.btn_about {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn {
  border-radius: 0.5rem;
  width: 10rem;
  height: 3rem;
  border-color: white;
  color: white;
  line-height: 1rem;
}
/* end about section */

/* start contact me section */
.contact {
  background-color: white;
}
.contact-text,
.info {
  padding: 1rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

ul {
  list-style: none;
  text-align: left;
}
li {
  border-bottom: 1px solid grey;
}
.mess li {
  border-bottom: none;
  margin-bottom: 5rem;
}

.line-border {
  border-bottom: 1px solid grey;
}
.btn_send {
  width: 100%;
  display: flex;
  justify-content: start;
}
.btns {
  border-radius: 0.5rem;
  width: 5rem;
  height: 2rem;
  background-color: var(--mar-1main);
  border-color: transparent;
  color: white;
  margin-left: 1.5rem;
}
/* endc ontact me section */

/* start app_footer */
#app_footer {
  background-color: var(--mar-1footer);
  color: white;
  padding-top: 2rem;
}

.social {
  display: flex;
  justify-content: center;
}
.fa {
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  text-align: center;
  margin: 0.5rem;
}

.fa-facebook,
.fa-google,
.fa-twitter,
.fa-instagram {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.block {
  font-size: x-small;
  background-color: var(--mar-2footer);
}
/* end app_footer */
